*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li
{
    display: inline;
}

body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > header
{
    background-color: aquamarine;
    padding: 16 px 0;
}

header .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.article 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section article img
{
    height: 180px;
}

.container
{
    width: 1366px;
    margin: 0 auto;
}

.article article
{
    width: 30%;
}

.article article a
{
background-color: rgb(0, 0, 255);
color: white;
padding: 8px;
display: inline-block;
font-weight: bold;
}

section
{
    padding: 16px 0;
}

section h2, .article article
{
    margin-bottom: 8px;
    margin-top: 8px;
}

#world
{
    background-color: rgb(152, 255, 152);
}

#health
{
    background-color: rgb(162, 230, 255);
}

#tech
{
    background-color: rgb(248, 255, 110);
}

h2
{
    color: rgb(255, 94, 94);
}

#world .container .article a
{
    background-color: blueviolet;
}

#health .container .article a
{
    background-color: rgb(255, 132, 187);
}

#tech .container .article a
{
    background-color: rgb(226, 104, 43);
}